:root {
    --base-font-size: 120%;
    --bg-color: #fafcff;
    --dimmed-color: #536370;
    --emphasis-color: #06c;
    --heading-color: #001e2f;
    --link-color: #0a7c3e;
    --monospace-font: monospace;
    --primary-font: sans-serif;
    --text-color: #1a1a1a
}

.dark-icon {
    display: none
}

.light-icon {
    display: block
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #001e2f;
        --dimmed-color: #94b2d1;
        --emphasis-color: #40a9ff;
        --heading-color: #fff;
        --link-color: #10e896;
        --text-color: #e5f3ff
    }

    .dark-icon {
        display: block
    }

    .light-icon {
        display: none
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--primary-font);
    font-size: var(--base-font-size);
    line-height: 1.4;
    margin: 0 auto;
    max-width: 30em;
    min-width: 20em;
    overflow-x: hidden
}

a {
    color: var(--link-color);
    padding: .2em 0;
    text-decoration: none
}

    a:hover {
        text-decoration: underline
    }

body, #footyscores, main, table {
    width: 100%
}

.round-table {
    border-collapse: separate;
    border-spacing: 0;
    font-size: .9em;
    margin-bottom: 2em
}

.match-header, .round-header {
    text-align: center
}

.round-header {
    color: var(--heading-color);
    font-size: .9em;
    font-variant: small-caps;
    font-weight: 700;
    letter-spacing: .05em;
    padding: .75em 0 .3em
}

.round-date {
    color: var(--dimmed-color);
    font-size: .9em;
    font-weight: 400
}

.match-header {
    color: var(--dimmed-color);
    font-size: .7em;
    font-weight: 500;
    letter-spacing: .08em;
    padding: 1.35em 0 0;
    text-transform: uppercase
}

    .match-header.playing {
        color: var(--emphasis-color);
        font-weight: 700
    }

.match-row {
    padding: .3em 0
}

    .match-row:hover {
        background-color: #0066cc08
    }

@media (prefers-color-scheme: dark) {
    .match-row:hover {
        background-color: #40a9ff0d
    }
}

.home {
    text-align: right
}

.away {
    text-align: left
}

.team-name {
    font-weight: 500;
    letter-spacing: .01em;
    width: 25%
}

    .team-name.home {
        padding-right: .5em
    }

    .team-name.away {
        padding-left: .5em
    }

.team-icon {
    padding: 0 .25em;
    width: 2em
}

    .team-icon.home {
        padding-left: .15em
    }

    .team-icon.away {
        padding-right: .15em
    }

    .team-icon svg, .bye-teams svg {
        box-sizing: content-box;
        height: 1.5em;
        padding: .1em;
        width: 1.5em
    }

    .team-icon svg {
        display: block;
        margin: 0 auto
    }

.bye-teams svg {
    margin: .5em;
    vertical-align: middle
}

.score {
    font-family: var(--monospace-font);
    font-variant-numeric: tabular-nums;
    text-align: center
}

    .score.detail {
        color: var(--dimmed-color);
        font-size: .85em;
        font-variant-numeric: tabular-nums lining-nums;
        width: 10%
    }

    .score.total {
        font-size: 1.3em;
        font-variant-numeric: tabular-nums lining-nums;
        font-weight: 700;
        width: 13%
    }

.match-row.home > .team-name.home, .match-row.away > .team-name.away, .match-row.complete.level > .team-name {
    color: var(--emphasis-color);
    font-weight: 700;
    letter-spacing: 0
}

.match-row.home > .team-name.away, .match-row.away > .team-name.home {
    font-weight: 400
}

.navigation-links {
    display: flex;
    font-size: .85em;
    justify-content: space-between
}

.nav-link {
    font-variant: small-caps;
    font-weight: 400;
    letter-spacing: .04em;
    padding: .5em
}

.prev-link {
    margin-right: auto
}

.next-link {
    margin-left: auto
}

.date-time {
    color: var(--dimmed-color);
    display: block;
    font-family: var(--monospace-font);
    font-size: .8em;
    letter-spacing: .02em;
    text-align: center
}

.bye-teams {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.disabled {
    visibility: hidden
}

.sr-only {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px
}
