:root {
    --base-font-size: 120%;
    --bg-color: #f9f9fb;
    --highlight-color: #069;
    --icon-bg: transparent;
    --monospace-font: monospace;
    --primary-font: sans-serif;
    --secondary-color: #666;
    --text-color: #333
}

.dark-icon {
    display: none
}

.light-icon {
    display: block
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #2b2a33;
        --highlight-color: #66b3ff;
        --secondary-color: #999;
        --text-color: #f0f0f0
    }

    .dark-icon {
        display: block
    }

    .light-icon {
        display: none
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--primary-font);
    font-size: var(--base-font-size);
    line-height: 1.4;
    margin: 0 auto;
    max-width: 30em;
    min-width: 20em;
    overflow-x: hidden
}

a {
    color: var(--highlight-color);
    padding: .2em 0;
    text-decoration: none
}

    a:hover {
        text-decoration: underline
    }

body, #footyScores, main, table {
    width: 100%
}

.round-table {
    border-collapse: separate;
    border-spacing: 0;
    font-size: .9em;
    margin-bottom: 2em
}

.match-header, .round-header {
    text-align: center
}

.round-header {
    font-size: .9em;
    font-weight: 700;
    padding: .75em 0 .3em
}

.round-date {
    color: var(--secondary-color);
    font-size: .9em;
    font-weight: 400
}

.match-header {
    color: var(--secondary-color);
    font-size: .75em;
    padding: 1.2em 0 0
}

    .match-header.playing {
        color: var(--highlight-color);
        font-weight: 700
    }

.match-row {
    padding: .3em 0
}

.home {
    text-align: right
}

.away {
    text-align: left
}

.team-name {
    width: 25%
}

    .team-name.home {
        padding-right: .5em
    }

    .team-name.away {
        padding-left: .5em
    }

.team-icon {
    padding: 0 .25em;
    width: 2em
}

    .team-icon.home {
        padding-left: .15em
    }

    .team-icon.away {
        padding-right: .15em
    }

    .team-icon svg, .bye-teams svg {
        box-sizing: content-box;
        height: 1.5em;
        padding: .1em;
        width: 1.5em
    }

    .team-icon svg {
        display: block;
        margin: 0 auto
    }

.bye-teams svg {
    margin: .5em;
    vertical-align: middle
}

.score {
    font-family: var(--monospace-font)
}

    .score.detail {
        color: var(--secondary-color);
        font-size: .85em;
        width: 10%
    }

    .score.total {
        font-size: 1.3em;
        font-weight: 700;
        width: 13%
    }

        .score.total.home {
            padding-right: .5em
        }

        .score.total.away {
            padding-left: .5em
        }

.match-row.home > .team-name.home, .match-row.away > .team-name.away, .match-row.complete.level > .team-name {
    color: var(--highlight-color);
    font-weight: 700
}

.navigation-links {
    display: flex;
    font-size: .85em;
    justify-content: space-between
}

.nav-link {
    padding: .5em
}

.prev-link {
    margin-right: auto
}

.next-link {
    margin-left: auto
}

.date-time {
    color: var(--secondary-color);
    display: block;
    font-family: var(--monospace-font);
    font-size: .8em;
    text-align: center
}

.bye-teams {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.disabled {
    visibility: hidden
}

.sr-only {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px
}
